.titleimg {
    width: 100vw;
    max-height: 40vh;
    
    margin: 0 calc(-50vw + 50%);
    
    object-fit: cover;
    display: block;
    
}

main,.foot,.page,.nav {
    max-width: 1000px;
  width: calc(100% - 1rem);
  margin: 0 auto;
}
.page {
    width: calc(100% - 3rem);
}

.desc {
    p {
        padding: 2rem 0;
    }

    .btn {
        width: 100%;
        @media(min-width: 500px) {
        width: initial;
        }
    }

    
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
        color: var(--accent);
        font-size: 2rem;
        font-weight: bold;
    }
}

.close {
    display: flow-root;
    img {
        float: right;
        background-size: 30%;
        border-radius: 50%;
        &:hover {
            background-color: darken($color: white, $amount: 5%);
            cursor: pointer;
        }
    }
}