footer {
    background-color: var(--accent);
    padding: 1rem;
    color: var(--white);
    img {
        height: 4rem;
        display: block;
        margin: 0;
        font-size: 0;
    }
    ul {
        display: flex;
        gap: 2rem;
        place-content: center;
        padding: 2rem 0;
    }
    li {
        list-style: none;
        background: white;
        padding: 1rem;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;

        &:hover {
            cursor: pointer;
            background-color:darken($color: white, $amount: 10%) ;
        }
    }
}