
.welcome {
    
    margin: 1rem;
    margin-bottom: 0;
    background: url('../img/Sprinkle.svg');
    background-color: var(--accent);
    text-align: center;
    color: var(--white);
    border-radius: 2rem;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        padding-bottom: 1rem;
        max-width: 60ch;
        color: rgba(255, 255, 255, 0.9);
    }

    @media(min-width:800px) {
        padding: 8rem 1rem;

        p {
            padding: 2rem 0;
        }
    }
}

