#filtr {
    position: fixed;
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3rem 3rem 0 0;
    box-shadow: 1px 1px 3vh rgba(0, 0, 0, 0.349);

    h3 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}