.nav a {
    color: #C3CAD4;
    font-weight: 500;

    &:hover {
        color: darken($color: #C3CAD4, $amount: 5%);
    }
}

.logo {
    height: 3rem;
}

.nav {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    img {
        display: inline;
    }
    input {
        margin: 0 !important;
    }
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    img {
        height: 2rem;
    }
    .buy {
        position: relative;

        &::after {
            content: attr(data-ile);
            position: absolute;
            background-color: #1D90F5;
            width: 1rem;
            height: 1rem;
            padding: 1rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: .5rem;
            color: white;
            font-weight: bold;
            bottom: 0;
            right: 0;
            transform: translate(100%,0);
        }
    }
}

nav {
    margin-bottom: 2rem;
    
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
    
}

.black {
    nav {
        background-color: rgba(31, 29, 44, 0.5);
    }
}


.loginoptions {
    height: 3rem;
    border-radius: 50%;
    &:hover {
        background-color: darken($color: white, $amount: 5%);
        cursor: pointer;
    }
    
}

.inline:focus-within {

.options {
    display: block !important;
}
}
.inline {
display: inline;
position: relative;
input {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
nav {
    z-index: 999;
}

.nav {
    z-index: 999;
}
.options {
    position: absolute;
    z-index: 999;
    bottom: 0;
    transform: translate(-50%,100%);
    border-radius: 1rem;
    display: none;
    ul {
        display: block ;
        li {
            padding: 1rem;
            border-radius: 1rem;
            &:hover {
                    
                    background-color: darken($color: white, $amount: 5%);
                    cursor: pointer;
                    border-radius: 1rem;
                }
            a {
                color: black;
                
                
            }
        }
    }
    background-color: white;
    box-shadow: 1px 1px 3vh rgba(0, 0, 0, 0.14);
}
}

.nav {
padding: 2rem 1rem;

}


nav.nav-scroled {
box-shadow: 1px 1px 1vh  rgba(0, 0, 0, 0.1);
position: sticky;
top: 0;
}

nav {
display: flex;
align-items: center;
}

.inline.marginleft-max.hidden {
display: none;
}

.nav a+a {
    padding-left: 1rem;
}

.hidden {
    display: none;
}

.marginleft-max {
    margin-left: auto;
}

