table {
    margin: 1rem 0;
    width: 100%;
    border: 1px solid var(--accent);
    border-collapse: collapse;
    
    thead {
        font-weight: bold;
    }
    td {
        padding: .5rem;
       
    }
}