
.orders {
    display: grid;
    gap: 1rem;
}
.order {
    background-color: #F3F6FB;
    border-radius: 1rem;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    span {
        font-weight: bold;
        font-size: 3rem;
    }

    &:hover,&:focus {
        background-color: darken($color: #F3F6FB, $amount: 5%);
        cursor: pointer;
        outline: 3px solid #1D90F5;
        outline-offset: -5px;
    }
    
}

.order-light {
    background-color: var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    img {
        border-radius: 1rem;
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }
    display: grid;
    gap: 1rem;
    align-items: center;
    @media(min-width:500px) {
        grid-template-columns: repeat(2,1fr);
    }
}